body, html{
    overflow-x: hidden;
}
.frameheight{
height: 600px;
 /* xr 320px */

}
.modal-dialog.modal-lg{
    margin: 1% auto !important;
}
.modal-header{
    padding:  0 !important;
}
.modal-body{
    padding:  0 !important;
}.modal-footer{
    padding:  5px !important;
}
#about-myself li{
margin: 1rem 3rem;
}

.bg-imageskill {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center center;
z-index: -2;
}
#about-myself button:hover{
  background-color: coral;
}
@media (max-width: 992px){
    .frameheight{
     height:480px;
 /* xr 320px */
}  .modal-dialog.modal-lg{
    margin: 150px 10% !important;
}

}
@media (max-width: 414px){

    .modal-dialog.modal-lg{
    margin: 150px 5% !important;
}
    .frameheight{
     height: 330px;
 /* xr 320px */

}
button.btn.btn-primary {
font-size: 13px;
}
#about-myself li{
margin: 1rem 0rem;
}

}

.paralax-mf12 {
    position: relative;
    padding: 1.5rem 0;
 
  }

  .overlay-itro12{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
     background-color: rgba(255, 255, 255, .15);
     backdrop-filter: blur(5px);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 0;
     height: 90%;
     width: 90%;
     z-index: -1;
   }
 