:root {
    --variable-name: value;
  }
  selector {
    property: var(--variable-name);
  }
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #000000;
  --secondary-color: #cf4624;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navigation-menu ul, #myNav ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1 {
    color: var(--primary-color);
    
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
    
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  /* image */
  #home .container {
    width: 80%;
    padding: 10px 0;
    padding-bottom: 20px;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
 }
 #home .overlay-itro{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
     background-color: rgba(255, 255, 255, .15);
     backdrop-filter: blur(5px);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 0;
     height: 90%;
     width: 90%;
   }
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
    max-width: 68.75rem;
    margin: auto;
  }
  .hero img {
    height: 20.5rem;

  }

  .degree{
    color: #ffffff !important;
    font-size: 20px;
   
  }
  /* about */
  .aboutmyself{
    text-align: left;
    margin: 2rem 5%;
    text-align: justify;
  }
  .introduc{
    text-align: justify;
    text-indent: 2rem;

  }
  .aboutmyself  p {font-size: 16px;
    font-weight: 700;
    color: #000;}
  .aboutmyself ul {     line-height: var(--line-height);
    padding: 0.3rem 0;display:inline-block; margin-left:3rem; font-weight: 500;}
  

  #headd{color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5vw;
    }
    #demo{
    font-size: 1.5vw;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: italic;
    }
  .bio {
    width: 40rem;
    padding: 0.625rem;
    border-radius: 6px;
    /* box-shadow: 0px 2px 15px 2px var(--primary-shadow); */
  }
  .bio-title{
    
    display: flex;
    align-items: center;
   text-align: left;
   color: white;
   font-size: 45px;
   font-weight: 900;
   line-height: 1.2;
  

  }
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

  #hero{
    display: flex;
    justify-content: space-around;
  }
  .graduated {
    font-size: 15px;
    color: white !important;
  }
  .graduated a{
    font-size: 15px;
    color: black !important;
  }
  .graduated a:hover{
    color: red !important;
  }
  /* more about */
  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }
/* skill */
  .skills {
    /* max-width: 68.75rem; */
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
   
  }
  
  .icon {
    width: 12.875rem;
    height: 12.25rem;
  }

  /* //skill */
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

  /* project */

  .projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .projects-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
  }
  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }
/* contact me */
  .contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }

  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: var(--primary-color);
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  }

  @media screen and (max-width: 420px) {
    .hero img {
      height: 10.5rem;
      
    }
  
    .bio {
      width: 18.3rem;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }
    .aboutmyself ul {     line-height: var(--line-height);
      padding: 0.3rem 0;display:inline-block; margin-left:2rem; }
  } 



.bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  
  .overlay-mf {
    background-color: #FEB336;
  }
  
  .overlay-mf {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
  }
  
  .paralax-mf {
    position: relative;
    padding: 3rem 0;
  }
  .centerpic{
    display: flex;
    justify-content: center;
    line-height: 1.2;
  }
  .input{
    color:black;
  }

  .social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: #000000;
    margin-top: .5rem;

}
.social a:hover{
    transform: scale(1.1);
    background: #eee;

    color: black;
    transition: .4s;
}


@media screen and (max-width: 920px) {
 .bio-title{
  margin-top: .5rem;
  font-size: 20px;
 }
.social a{
  font-size: 15px;
  width: 30px;
  height: 30px;
  
}
.hero {
  flex-direction: column-reverse;
  gap: 0.5em;
}
.icon{
  width: 5.875rem;
    height: 5.25rem;
}
}

.more p{
margin: 0 5%;
text-align: justify;
line-height: 2;
}
#more{
  text-align: center;
  margin:2.5rem 0;
}
.titleblk{
  color:black !important;
}